@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');
body {
    margin: 0 auto;
    font-family: 'Open Sans Condensed';
    position: relative; 
    /*min-width: 1000px;*/
    width: 1000px;
    max-width: 100%;
    padding-bottom: 141px; 
    background: #000 url('https://casino-ideer.businesscatalyst.com/images/grund_dark.jpg') top center no-repeat;
    background-size: auto;
    overflow:hidden;
    font-size: 16px;
}
#page {
    z-index: 1;
    width: 812px;
    max-width: 100%;
    min-height: 778px;
    background-image: none;
    border-style: none;
    border-color: #000000;
    background-color: transparent;
    padding-bottom: 835px;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.5;
}
    #ParallaxWrapper {
    z-index: 6;
    width: 2048px;
    min-height: 1068px;
    border-style: none;
    border-color: transparent;
    background-color: transparent;
    position: fixed;
    top: 0px;
    left: 50%;
    margin-left: -1024px;
    }
    #ContainerParallax { position: relative; max-width: 100%; margin: 0 auto; padding: 0; overflow: hidden;  height: 1068px;  }
    .framed.scene { padding: 0; margin: 0px; width: 100%; height: 100%; opacity: 1; }
    #ContainerParallax .layer {
    height: 100%;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    position: relative; display: block;
    left: 0px; top: 0px;
    }
    .layer1 { background: url('https://casino-ideer.businesscatalyst.com/assets/front_uden_dark.png') no-repeat; }
    .layer2 { background: url('https://casino-ideer.businesscatalyst.com/assets/back_dark.png') no-repeat; }
.layer3 { background: url('https://casino-ideer.businesscatalyst.com/assets/middle_dark.png');}
/*.layer4 { background: url('https://userscontent2.emaze.com/images/ba27679c-f221-4bf6-9493-cac6ae3508e1/89bcca07e2169b9eef3a5edea6ec61f3.png');
background-repeat: no-repeat; background-size: 30%; background-position: center; background-position-y: 10%; }*/

.title{
    font-size: 4rem;
    position: absolute;
    z-index: 9999;
    top: 1%;
    width: 100%;
    text-align: center;
    color: #f1cd61;
    font-style: italic;
}

.mainForm{
    padding: 40px 0;
    display: block;
    position: absolute;
    top: 9%;
    left: 0;
    right: 0;
    width: 400px;
    height: auto;
    background: white;
    max-width: 100%;
    z-index: 9999;
    margin: 0 auto;
    box-shadow: 4px 6px 19px black;
}

.mainForm .form-control{
    width: 80%;
    margin: 0 auto;
}

.mainForm .form-control label{
    text-align: center;
    margin-bottom: 10px;
    display: block;
    font-weight: bold;
}

.mainForm .form-control input{
    text-align: center;
    width: 100%;
    height: 50px;
    font-size: 22px;
    margin-bottom: 20px;
    padding: 10px;
}

#bg {
    position: absolute;
    background: #252525;
    background-size: cover;
    background-position: center center;
    width: 100%;
    top: 250px;
	animation: zooOut 1.5s;
}
.button-holder {
    cursor: pointer;
	position: absolute;
    top: 114%;
	left: 0;
	right: 0;
	margin: 0 auto;
	height: 60px;
	width: 180px;
	color: white;
	text-align: center;
	overflow: hidden;
}
.button-holder:hover{
    color: #f1cd61 !important;
}
.button-holder #epic-button p {
	position: relative;
	font-size: 100%;
	font-weight: 300;
	transition: all 1s;
}
.button-holder #epic-button svg {
	position: relative;
}
.button-holder #epic-button .button-text {
	position: absolute;
	top: 0;
	text-align: center;
	width: 100%;
}
.button-holder #epic-button .button-text h2 {
	margin-top: 10px;
}
/*
.border {
    position: absolute;
	  opacity: 0%;
    top: 0;
    z-index: 10;
    pointer-events: none;
    margin: 30px 0 0 30px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    width: -moz-calc(100% - 62px);
    height: -moz-calc(100% - 62px);
    width: -webkit-calc(100% - 62px);
    height: -webkit-calc(100% - 62px);
    width: -o-calc(100% - 62px);
    height: -o-calc(100% - 62px);
    width: calc(100% - 62px);
    height: calc(100% - 62px);
		animation: fadeIn 1.5s;
	  animation-delay: 1s;
}*/

@-webkit-keyframes zoomOut {
    from {width: 150%;height:150%;}
    to {width: 100%;height:100%;}
}
@-webkit-keyframes fadeIn {
    from {opacity: 0%;}
    to {opacity: 100%;}
} 